conda create -n MVR python=3.9
pip install torch==2.4.0 torchvision==0.19.0 torchaudio==2.4.0 --index-url https://download.pytorch.org/whl/cu118
pip install  dgl -f https://data.dgl.ai/wheels/torch-2.4/cu118/repo.html
pip install rdkit==2025.3.6
pip install einops==0.8.1
pip install transformers==4.49.0
pip install prettytable==3.16.0









